<mat-toolbar class="header">
  <div class="header-content">
    <div class="left-section">
      <button mat-icon-button (click)="toggleSidenav.emit()">
        <mat-icon>menu</mat-icon>
      </button>
      <img src="assets/logohealth.webp" alt="Logo" class="app-logo">
    </div>

    <div class="right-section">
      <button mat-icon-button (click)="toggleFullscreen()" class="fullscreen-button">
        <mat-icon>{{ isFullscreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
      </button>

      <ng-container *ngIf="user$ | async as user; else loginButton">
        <span class="user-name">{{ user.displayName }}</span>
        <button mat-icon-button [matMenuTriggerFor]="userMenu" class="avatar-button">
          <img [src]="user.photoURL" alt="user avatar" class="user-avatar"
               *ngIf="user.photoURL; else userIcon">
          <ng-template #userIcon>
            <mat-icon>account_circle</mat-icon>
          </ng-template>
        </button>
        <mat-menu #userMenu="matMenu" class="user-menu">
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </ng-container>

      <ng-template #loginButton>
        <button mat-button (click)="login()" class="login-button">
          <mat-icon>login</mat-icon>
          Login
        </button>
      </ng-template>
    </div>
  </div>
</mat-toolbar>
