<mat-sidenav-container class="app-container">
  <mat-sidenav [(opened)]="isSidenavOpen" mode="over">
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/dashboard" (click)="closeSidenav()">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/profile" (click)="closeSidenav()">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </a>
      <a mat-list-item routerLink="/settings" (click)="closeSidenav()">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <app-header (toggleSidenav)="toggleSidenav()"></app-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
